---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /massages/{{ tag }}/
layout: layouts/default.njk
eleventyComputed:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Massages section tagged with “{{ tag }}”"
---

<h1>Posts from the Massages section tagged with “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{% include "components/postslist.njk" %}

<nav>
     <div class="tags">
        <ul class="tag">
       <li><a href="{{ '/massages/' | url }}">← Massages index</a></li>
        </ul>
      </div>
</nav>
