<head>
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="https://stegglesfactoryshops.netlify.app/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://stegglesfactoryshops.netlify.app/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://stegglesfactoryshops.netlify.app/static/favicon-16x16.png">
<link rel="manifest" href="https://stegglesfactoryshops.netlify.app/site.webmanifest">
<link rel="mask-icon" href="https://stegglesfactoryshops.netlify.app/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">



<title>{{ title or metadata.title }} - {{ metadata.title }}</title>
<link rel="canonical" href="https://stegglesfactoryshops.netlify.app{{ page.url or post.url or permalink }}" />
<meta name="description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}" />
<meta property="og:url" content="https://stegglesfactoryshops.netlify.app/{{ page.url or post.url or permalink }}" />


{% set css %}
    {% include "assets/css/sfs-grid.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>




  {# Uncomment below if you want to include minified inline JavaScript #}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}




</head>
