<section class="sliderbox">

<div class="home-slide hide-for-print">
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-1.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-2.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-3.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-4.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-5.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
</div>

</section>

