<section class="sliderbox hide-for-print">
<div class="herohome"></div> 
<div class="homebookingbutton">
<a class="button success" href="https://www.gtmassage.com.au/booking" title="Make a booking" alt="Make a booking">Make a booking</a>   
</div>
</section>
