<section class="sliderbox">
<div class="home-slide">


<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1920,h-1080,f-auto/slider/Changs-Chocolate-Spiders-1600x800_k4OAY3so4.jpg?updatedAt=1685410660982) no-repeat center center;height:1080px;width:1920px; background-size:cover;"></div>




<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1920,h-1080,f-auto/slider/Rainbow-Rocky-Road-1600x800_67fAcs0g2.jpg?updatedAt=1685410660999) no-repeat center center;height:1080px;width:1920px; background-size:cover;"></div>




<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1920,h-1080,f-auto/slider/oriental-fried-noodle-salad-1600x800_FXG9u70R5.jpg?updatedAt=1685410661070) no-repeat center center;height:1080px;width:1920px; background-size:cover;"></div>



</div>
</section>

