<section class="sliderbox">
<div class="home-slide">


<div class="hero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-1) no-repeat center center;"></div>
<div class="hero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-1) no-repeat center center;"></div>
<div class="hero" style="background: url(https://stegglesfactoryshops.netlify.app/static/img/screen/250302-daily-specials-1) no-repeat center center;"></div>







</div>
</section>

