{% set js %}
{% include "assets/js/combined.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>

<script>
$('.home-slide').slick({
autoplay: true,
infinite: true,
pauseOnHover: false,
swipeToSlide: true,
autoplaySpeed: 6000,
speed: 3000,
arrows: false,
dots: false,
fade: true,
 cssEase: 'ease'
    
  });
  </script>