<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
<ul class="main-menu">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}
{% for post in collections.Massages %}
      <li>
        <a href="{{ post.url }}" {% if post.url === page.url %}class="active"{% endif %}>
          {{ post.title }}
        </a>
      </li>
    {% endfor %}

<ul class="main-menu">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>

<!-- _includes/navigation.njk -->

<nav>
  <ul>
    {% for post in collections.Massages %}
      <li>
        <a href="{{ post.url }}" {% if post.url === page.url %}class="active"{% endif %}>
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
