<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
<ul class="main-menu">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{% for post in collections.Massages %}
<nav class="childlist"><ul class="main-menu"><li><a href="/">Home</a></li><li class="active-class"><a href="/massages/">Massages</a></li><li><a href="/booking/">Booking</a></li><li><a href="/contact/">Contact</a></li></ul></nav>
{% endfor %}
{%- endmacro %}


<ul class="main-menu">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>