<nav class="offcanvas">
<button class="close-nav">Close</button>
<h3>Menu</h3>
<div class="mobilemenu">
{% if  class == "massages" %}
<ul class="off-canvas-list"><li><a href="/" title="Home" alt="Home">Home</a></li><li class="active-class"><a href="/massages/" title="Massages" alt="Massages">Massages</a></li><li><a href="/booking/" title="Booking" alt="Booking">Booking</a></li><li><a href="/contact/" title="Contact" alt="Contact">Contact</a></li></ul>
{%- else -%}
{% include "components/nav-side.njk" %}{% endif %}




</div>
<div class="mobilesocial">
<ul class="menusocial">
<li><a title="Follow Gloucester Thai Massage on Facebook" href="https://www.facebook.com/GloucesterThaiMassage/" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow Gloucester Thai Massage on Facebook" title="Follow Gloucester Thai Massage on Facebook"></a></li>
</ul>
</div>
</nav>