<section class="sliderbox">

<div class="home-slide hide-for-print">


    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-1-monday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
          <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-2-tuesday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    


    <div>
           <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-3-wednesday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
           <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-4-thursday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>


    <div>
           <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-5-friday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    <div>
           <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/loyalty/251001-slide-6-saturday-loyalty-specials.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>


</div>

</section>

