<section class="sliderbox">

<div class="home-slide hide-for-print">

<div>
    <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/2026/260625/260627-monthly-specials-1.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
</div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/2026/260625/260627-monthly-specials-2.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    
<!-- weekly -->


<!-- end weekly -->

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/2026/260625/260627-monthly-specials-3.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/2026/260625/260627-monthly-specials-4.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>


    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/2026/260625/260627-monthly-specials-5.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

<!-- weekly -->
 


<!-- end weekly -->

  
  

</div>

</section>

