<section class="sliderbox">

<div class="home-slide hide-for-print">

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250531/July-1.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250531/July-2.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    
<!-- weekly -->


<!-- end weekly -->

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250531/July-3.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250531/July-4.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

<!-- weekly -->



<!-- end weekly -->

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250531/July-5.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>



</div>

</section>

