<section class="sliderbox">

<div class="home-slide hide-for-print">


    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-1.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-2.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    


    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-3.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>

    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-4.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>



    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-5.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>
    <div>
        <div class="internalhero" style="background: url(https://stegglesfactoryshops.com.au/static/img/screen/250329/250331-loyalty-slide-6.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    </div>


</div>

</section>

