<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} internal" >
<div class="container">

{% block hero %}
{% include "components/screen.njk" %}
{% endblock %}
</div>

{% include "components/javascript.njk" %}

</body>
</html>
