<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class="email" >
<div class="container">
        {% block content %}
             <main class="content">  
                {{ content | safe }}
            </main>
        {% endblock %}
</div>



</body>
</html>