---
layout: layouts/default.njk
section: massages
class: massages
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.Massages %}
{% include "components/postslist.njk" %}
